.DS_Store
/Rédaction/tex/elast_paper-merged.aux
/Rédaction/tex/elast_paper-merged.log
/Rédaction/tex/elast_paper-merged.out
/Rédaction/tex/elast_paper-merged.synctex.gz
/Rédaction/tex/elast_paper-merged.bbl
/Rédaction/tex/elast_paper-merged.blg

*.fdb_latexmk

*.fls
*.gz(busy)

Rédaction/tex/elast_paper-merged.pdf
